.glava {
  position:absolute;
  right: 50px;

  font-family: Roboto
  font-weight: 100;
}
.gmail {
  padding-right: 30px;
}
.slike {
  padding-right: 20px;
}

.bottom {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
input[type=text] {
  width: 70%;
  height: 35px;
  border: 1px solid #C0C0C0;
  border-style: outset;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: Arial;
}
input[type=button] {
  background-color: white;
  height: 50px;
  font-family: Roboto;
  font-color: #E0E0E0;
}

.okno
{
  -webkit-box-shadow: -2px 6px 39px 0px rgba(110,106,110,0.2);
  -moz-box-shadow: -2px 6px 39px 0px rgba(110,106,110,0.2);
  box-shadow: -2px 6px 39px 0px rgba(110,106,110,0.2);
}

.okno:hover
{
  -webkit-box-shadow: -2px 16px 39px 0px rgba(110,106,110,0.2);
  -moz-box-shadow: -2px 16px 39px 0px rgba(110,106,110,0.2);
  box-shadow: -2px 16px 39px 0px rgba(110,106,110,0.2);
}

.gumb:hover
	{
	background-color: #F2F2F2;
  font-color: grey;
  }

p{
  font-family: Roboto;
}
.footer {
  margin-top: 250px;
}
.kjesi {
  background-color: #F2F2F2;
  height: 20px;
  width: auto;
  font-family: Roboto;
  padding-left: 30px;
  padding-top: 15px;
  border-top: solid 1px #C0C0C0;
  color: #C0C0C0;
}
.povezave {
  font-family: Roboto;
  background-color: #F2F2F2;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  border-top: solid 1px #C0C0C0;
}
